@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

img {
    margin:auto;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 8px 16px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
    color:darkslategray;
    font-weight:lighter;
    font-size:small;
}

.header,
.footer{
    display:flex;
    justify-content:space-between;
}

.right-links,
.left-links{
    display:flex;
    padding:0;
    margin:0;
    gap:10px;
    justify-content:space-around;
}

.content{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex:1;
}
